[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "gperftools"]
	path = gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "googlebenchmark"]
	path = googlebenchmark
	url = https://github.com/google/benchmark.git
